/***************************************

TODO: あとで比率で長さを取得できるように修正すること


***************************************/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  width: 400px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  width: auto;
}

.container-image {
}

.image-icon {
  width: 128px;
  height: auto;
  background: black;
  padding-left: 20px;
}

.extension-title-container {
  background-color: #000;
  height: 118px;
  flex: 2;
  padding-left: 30px;
  padding-top: 10px;
}

.extension-title-container span {
  color: #fff;
  font-size: 36px;
}

.middle {
  height: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: #280794;
  height: auto;
}
